.container {
  position: relative;
  margin-bottom: 13px;
  .container__input {
    width: 100%;
    padding: 9px;
    outline: none;
    border: none;
    background-color: var(--dark-grey);
    color: var(--white);
    &::-webkit-input-placeholder {
      font-family: Open Sans;
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 48px;
      color: var(--white);

    }
  }
}
