.onsaleheader__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 0;
  background-color: var(--dark-grey);
  margin-bottom: 13px;

  .item__title {
    color: var(--white);
    font: 300 10px Open Sans, sans-serif;
  }
}