.onsaleheader__item {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 9px 0;
  background-color: var(--dark-grey);
  margin-bottom: 13px;

  .item__title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: var(--white);
  }
}