.container__content {
  display: flex;
  justify-content: center;
  flex: 1;
  padding: 0px 20px 75px;
  margin-left: 64px;
  @media (max-width: 1024px) {
    & {
      margin-left: 137px;
    }
  }
  @media (max-width: 768px) {
    margin-left: 0px;
  }
  @media (max-width: 425px) {
    margin-left: 0px;
  }
}


