.onsale_wrapper {
    width: 714px;
    max-height: 693px;
    height: 100%;
    @media (max-width: 1024px) {
      & {
        width: 572px;
      }
    }
    @media (max-width: 768px) {
      & {
        display: none;
      }
    }
    @media (max-width: 425px) {
      & {
        display: none;
      }
    }
  }





